/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 80px;
	height: 246.3px;
	font-size: 12px;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	background-color: rgba(0,0,0, 0.6);
}
.owl-next {
	right: 0;
	 background: url('../images/arrow_right.png') no-repeat 50% 50%;
}

.owl-prev {
	left: 0;
	background: url('../images/arrow_left.png') no-repeat 50% 50%;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #000;
	border-color: rgba(0,0,0, 0.5);
	background: #fff;
}

.owl-theme .owl-controls .owl-page.active span{
	border: 1px solid;
	border-color: rgba(0,0,0, 0.5);
	background: #ff7300;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}