* {
	padding: 0;
	margin: 0;
}
h1,h2,h3 {
	margin: 0;
}
body {
	background-color: #f6f6f6;
}
input,
button {
	border: none;
	outline: none;
}



/*     Шапка     */
body > header {
	background-color: #f6f6f6;
	position: relative;
	z-index: 12;
}
/* Верхняя шапка */
header .container {
	padding: 0;
}
.upper_header > div {
	min-height: 54px;
}
.social span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #eeeeee;
	margin-right: 7px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	line-height: 25px;
}

.social i {
	font-size: 15px;
	color: #a4a4a4;
}
.header_nav {
	line-height: 50px;
	margin: 0;
	text-align: center;
}
.header_nav li {
	display: inline-block;
	position: relative;
	margin: 0 25px;
}
.header_nav > li > a,
.dropdown-menu li a {
	color: #747474;
	text-decoration: none;
	font-size: 12px;
}
.dropdown-menu li a {
	margin: 0;
}

.dropdown-menu li a:hover,
.menu > ul > li:hover a[data-toggle] {
	color: #ff7300;
}
.header_nav a:hover {
	color: #ff7300;
	text-decoration: none;
}
.header_nav a:hover span {
	border-bottom: 1px solid #ff7300;
}
.header_nav a i {
	margin-left: 5px;
	font-size: 17px;
	position: relative;
	top: 2px;
	transition: all 0.2s linear;
}
.header_nav a[aria-expanded="true"] {
	color: #ff7300;
}
.header_nav a[aria-expanded="true"] i {
	transform: rotate(180deg);
}
.header_nav .dropdown-menu {
	min-width: 220px;
	border-radius: 0;
	top: 50px;
	left: -25%;
	border: none;
	line-height: normal;
	background: #eeeeee;
	box-shadow: none;
	border: 1px solid #ccc;
}
.header_nav .dropdown-menu:before {
	content: "";
	border: 20px solid transparent;	
	border-bottom: 5px solid #ccc;
	position: absolute;
	top: -25px;
	left: calc(50% - 20px)
}
.header_nav .dropdown-menu:after {
	content: "";
	border: 20px solid transparent;	
	border-bottom: 5px solid #eee;
	position: absolute;
	top: -24px;
	left: calc(50% - 20px)
}
.header_nav .dropdown-menu li {
	display: block;
	line-height: 1;
	margin: 5px 0;
}

/*
span.fb {
	background: url('../images/social.png') 5px 4px no-repeat #eeeeee; 
}
span.ok {
	background: url('../images/social.png') -26px 4px no-repeat #eeeeee; 
}
span.twit {
	background: url('../images/social.png') -56px 4px no-repeat #eeeeee; 
}
span.gogl {
	background: url('../images/social.png') -88px 4px no-repeat #eeeeee; 
}
.header_nav {
	line-height: 54px;
}*/
.contacts {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 14px;
	color: #3b3b3b;
	display: inline-block;
	float: right;
}
.contacts i {
	margin-right: 15px;
}
.contacts i.fa-map-marker {
	margin-right: 20px;
}
.contacts span {
	color: #747474;
	font-size: 11px;
}



/* Нижняя шапка */
.lower_header {
	background-color: rgba(255, 115, 0, 0.9);
	margin-bottom: 12px;
}

.lower_header .container {
	min-height: 65px;
}
.lower_header .container > div {
	padding-top: 12.5px;
	padding-bottom: 12.5px;
}
.logo {
	display: block;
	margin: 4px 0;
}
.search {
	position: relative;
}
.search input,
.search button,
.header_links a  {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	height: 40px;
	background-color: #fff;
}
.search button {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	border-bottom: 4px solid #ddd;
}
.header_links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header_links a,
a.button,
.button {
	width: 100%;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	color: #3b3b3b;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #ddd;
	border-bottom: 4px solid #ddd;
	box-sizing: border-box;
	font-weight: bold;
	border-radius: 4px;
	position: relative;
	background: #fff;
}
.button:hover,
.search button:hover{
	background-color: #ededed;
	border-color: #e3e3e3;
}

.header_links a {
	width: 45%;
	line-height: 37px;
}
a.where i,
a.cart i,
.search button i,
.contacts i {
	margin-right: 5px;
	color: #a4a4a4;
	font-size: 15px;
}
.search button i {
	margin: 0;
}
#menu_call {
	position: absolute;
	top: 0;
	right: 20px;
	height: 65px;
	line-height: 65px;
	color: #ffffff;
	font-size: 20px;
	display: none;
	cursor: pointer;
}

.fix {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}


/*    Под снос    */

/*
.header_links a.cart:before,
.header_links a.where:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	background: url('../images/cart.png') no-repeat center;
}
.header_links a.where:before {
	background-image: url('../images/nav.png');
}*/



/*       Центральный блок         */
	#wrapper {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.3);
		z-index: 1;
	}
	.mobile_wrap {
		display: block;
		z-index: 6 !important;

	}
	/*Боковое меню*/
	.menu {
		background: #ffffff;
		width: 100%;
		border: 1px solid #dddddd;
		position: relative;
		z-index: 10;
		margin-bottom: 15px;
	}
	.menu > ul,
	ul.dropdown-menu {
		list-style: none;
		margin-bottom: 0;
	}
	.menu > ul li {
		border-bottom: 1px solid #dddddd;
		position: relative;
	}
	.menu > ul li a,
	ul.dropdown-menu li a {
		font-size: 13px;
		color: #454545;
		padding: 10px 15px;
		padding-left: 30px;
		display: block;
		background: transparent;
		text-decoration: none;
	}
	.menu > ul li:last-child {
		border-bottom: none;
	}
	.menu > ul li,
	ul.dropdown-menu li {
		background: url("../images/list-style.png") no-repeat 15px center;
		padding: 0;
	}
	.menu > ul li:hover,
	ul.dropdown-menu li:hover {
		background: url("../images/list-style-active.png") no-repeat 15px center #e3e3e3;
	}
	/*.menu > ul > li:hover > .dropdown-menu { 
		display: block !important;
	}  */
	.menu > ul li.mobile_expand_title {
			background-image: none;
			padding: 15px;
			background: #f6f6f6;
			font-size: 20px;
	}
	.mobile_expand_title i {
		margin-right: 5px;
	}
	.menu_drop {
		top: -1px;
		left: calc(100% + 7px);
		margin: 0;
		min-width: 315px;
		min-height: 155px;
		border: 1px solid #dddddd;
	}
	.menu_drop:before {
		content: "";
		border: 20px solid transparent;	
		border-right: 5px solid #dddddd;
		position: absolute;
		top: 0;
		left: -25px;
	}
	.menu_drop:after {
		content: "";
		border: 20px solid transparent;	
		border-right: 5px solid #fff;
		position: absolute;
		top: 0;
		left: -24px;
	}
	.menu_drop > ul {
		list-style: none;
	}
	.menu_drop > ul li {
		border-bottom: 0;
	}
	.menu_drop > ul li a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.aside_links {
		margin-bottom: 15px;
	}
	.aside_links a{
		margin: 5px 0;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		font-weight: bold;
		color: #3b3b3b;
	}
	.aside_links a.discount {
		background: #ff7300;
		border-color: #e66800;
		color: #fff;
		font-size: 18px;
	}
	.aside_news {
		background: #ffffff;
		width: 100%;
		border: 1px solid #dddddd;
	}
	.aside_news h2 {
		color: #000000;
		font-size: 26px;
		padding: 10px 15px;
		text-align: center;
		border-bottom: 1px solid #dddddd;
	}
	.new {
		padding: 10px;
		border-bottom: 1px solid #dddddd;
		overflow: hidden;
		color: #7e7e7e;
		position: relative;
	}
	.new img {
		float: left;
		margin-right: 10px;
		width: 33%;
	}
	.new header {
		display: inline-block;
		color: #1da0fe;
		border-bottom: 1px solid #1da0fe;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.new p {
		font-size: 12px;
		margin-bottom: 15px;
	}
	.new data {
		font-size: 11px;
		position: absolute;
		bottom: 5px;
		right: 20px;
	}




	/* Контент */
	.content .item_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: -5px -15px;
	}
	.slaider {
		margin-bottom: 15px;
	}
	#owl-demo .item img{
		display: block;
		width: 100%;
		height: auto;
	}
	.breadcrumbs,
	#settings {
		margin-bottom: 15px;
		list-style: none;
		color: #8f8f8f;
		font-size: 13px;
	}
	.breadcrumbs {
		overflow: hidden;
	}
	.breadcrumbs a {
		color: #ff7300;
	}
	.breadcrumbs li {
		float: left;
		margin-right: 10px;
	}
	.breadcrumbs li:before {
		content: ">";
		margin-right: 10px;
		color: #ff7300;
	}
	.breadcrumbs li:first-child:before {
		display: none;
	}
	#settings {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: -15px;
		margin-left: -15px;
	}
	#settings > li {
		margin: 0 15px 15px;
		position: relative;
	}
	#settings .button {
		width: 190px;
		min-height: 50px;
		font-weight: bold;
		font-size: 15px;
		text-transform: none;
		padding: 0 5px;

	}
	#settings .button span {
		display: block;
		color: #3b3b3b;
		font-size: 11px;
	}
	
	#settings .button[aria-expanded="true"] {
		background: #ff7300;
		border-color: #e66800;
	}
	
	#settings .dropdown-menu {
		width: 100%;
		top: calc(100% + 10px);
		border: 1px solid #dddddd;
		z-index: 5;
	}
	#settings .dropdown-menu:before,
	#settings .dropdown-menu:after {
		content: "";
		border: 10px solid transparent;	
		border-bottom-color: #dddddd;
		position: absolute;
		bottom: 100%;
		left: calc(50% - 10px);
	}
	#settings .dropdown-menu:after {
		border-bottom-color: #ffffff;
		bottom: calc(100% - 1px);
	}
	#settings .dropdown-menu li {
		cursor: pointer;
		padding: 5px 0;
	}
	#settings .dropdown-menu li:hover {
		background-color: #ffffff;
	}
	#settings .dropdown-menu li:hover span {
		color: #ff7300;
		text-decoration: underline;
	}
	#settings .dropdown-menu li span {
		padding: 5px;
		padding-left: 30px;
	}




	/*   Item-1    */
	.item_1 {
		background-color: #fff;
		min-height: 325px;
		width: 190px;
		margin: 5px 15px;
		padding: 5px;
		border: 1px solid #dddddd;
	}
	.item_1 .img_item_block {
		width: 100%;
		min-height: 120px;
	}
	.item_1 .img_item_block img {
		margin: 5px auto;
	}
	.item_1 .item_name {
		font-size: 13px;
		color: #555555;
		display: block;
		margin-top: 10px;
	}
	.fullink,
	.fullink:hover {
		display: block;
		text-decoration: none;
		color: inherit;
	}
	.item_1 .stars {
		color: #c2c2c2;
		margin: 10px 0;
	}
	.item_1 .stars .full {
		color: #ff8b00;
	}
	.item_1 .old_cost {
		font-size: 14px;
		color: #6f6f6f;
		text-decoration: line-through;
		display: block;
	}
	.item_1 .new_cost {
		font-size: 24px;
		color: #333333;
		display: block;
	}
	.item_1 .button {
		color: #fff;
		font-size: 14px;
		font-weight: normal;
		background: #ff7300;
		border-color: #e66800;
		height: 45px;
		line-height: 40px;
	}
	.item_1 .button:before {
		margin-right: 5px;
		font-size: 20px;
	}
	.item_1 .button:after {
		content: "+";
		font-weight: bold;
		position: absolute;
		left: 25px;
	}




	/*  Футер   */
	footer {
		margin-top: 45px;
		padding: 20px 0;
		background: #dfe4e8;
	}

	.unstyled_list,
	.unstyled_list ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.unstyled_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.unstyled_list > li {
		
	}
	.footer_logo {
		display: block;
		background: url('../images/logo3.png') no-repeat;
		background-size: contain;
		height: 40px;
		margin-bottom: 35px;
	}
	.copyright {
		font-size: 12px;
		line-height: 14px;
		color: #000;
	}
	.footer_menu li a{
		font-size: 13px;
		color: #333333;
	}
	.footer_menu li:first-child {
		color: #8295a3;
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	footer .contacts {
		padding: 0;
		float: none;
		display: block;
	}










	/*  Медиа запросы  */
	@media (max-width: 1200px) {
		.content .item_block,
		#settings {
			justify-content: center;
		}
	}
	@media (max-width: 992px) {
		#menu_call {
			display: block;
		}
		.menu {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			border: 0;
			overflow: hidden;
			white-space: nowrap;
		}
		body > header {
			z-index: 5;
		}
		.menu_drop {
			position: static;
			width: 100%;
			padding-left: 15px;

		}
		.menu_drop:before,
		.menu_drop:after {
			display: none;
		}
		.menu > ul li {
			overflow: hidden;
		}
	}
	@media (max-width: 768px) {
		.content {
			justify-content: space-around;
		}
	}
	@media (max-width: 600px) {
		.unstyled_list {
			display: block;
		}
		.unstyled_list > li {
			margin: 10px;
			display: block;
			text-align: center;
		}
	}

	@media (min-width: 992px) {
		.mobile_expand_title {
			display: none;
		}
		.menu > ul > li:hover > .dropdown-menu { 
				display: block !important;
			}
	}